*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* color: white; */
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.card h2{
    font-size: 20px;
    text-align: center;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 35px;
    opacity: 0;
    /* background: linear-gradient(to right bottom, rgb(135,7,135),rgb(255,11,222)); */
    background-image: url(//preview.colorkit.co/gradient/f9ce34-ee2a7b-6228d7.png?size=wallpaper);
    background-size: cover ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%)scale(0) rotate(-60deg);
    transition: all cubic-bezier(.75,.81,.76,1.51) 0.3s;
}


